anyio
appdirs
appnope
asgiref
asn1crypto
asttokens
atpublic
attrs
babel
beautifulsoup4
bs4
cachetools
certifi
cffi
charset-normalizer
click
comm
commonmark
contourpy
cryptography
cycler
databricks-connect
databricks-sdk
debugpy
decorator
duckdb
exceptiongroup
executing
faicons
fastjsonschema
filelock
fonttools
google-auth
googleapis-common-protos
great-tables
grpcio
grpcio-status
gt
h11
htmltools
ibis-framework
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipywidgets
jedi
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
libsass
linkify-it-py
markdown-it-py
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mizani
nbclient
nbformat
nest-asyncio
numpy
packaging
palmerpenguins
pandas
parso
parsy
patsy
pexpect
pillow
platformdirs
plotly
plotnine
prompt-toolkit
protobuf
psutil
ptyprocess
pure_eval
py4j
pyarrow
pyarrow-hotfix
pyasn1
pyasn1_modules
pycparser
Pygments
PyJWT
pyOpenSSL
pyparsing
pyspark
python-dateutil
python-multipart
pytz
PyYAML
pyzmq
questionary
referencing
requests
rich
rpds-py
rsa
scipy
shiny
shinywidgets
six
sniffio
snowflake-connector-python
sortedcontainers
soupsieve
sqlglot
stack-data
starlette
statsmodels
tenacity
tomlkit
toolz
tornado
traitlets
typing_extensions
tzdata
uc-micro-py
urllib3
uvicorn
watchfiles
wcwidth
websockets
widgetsnbextension
zipp
